*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    color:whitesmoke
}

body{
   background-color: black; 
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    padding:20px;
    width: 500px;
    border:1px solid rgb(248, 240, 240,0.5);
    background-color: rgb(252, 247, 247,0.1);
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

}
h1{
    text-align: center;
}
.inputContainer{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
label{
    font-size: 2rem;
}
input{
    width: 100%;
    padding:9px;
    outline: none;
    /* caret-color: black; */
    background-color: black;
    border:1px solid rgb(243, 237, 237);
}
button{
    background-color:white;
    font-size: 1.5rem;
    border:none;
    padding:4px;
    color: black;
    margin-top: 25px;
    
}
h2{
    text-align: center;
    text-decoration: dotted underline whitesmoke;
}
.shortenPart{
    margin-top: 50px;
}
.shortenUrls ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shortenUrls{
    width: 100%;
    background-color: black;
    max-height: 200px;
    min-height:100px ;
    overflow: auto;
    margin-top: 20px;
    padding:10px
}

.shortenUrls ul li{
    list-style-type:none;
    

}
.shortenUrls ul li a{
    text-decoration: none;
    color:rgb(239, 1, 1,0.8);
    margin-left:5px;
}
.shortenUrls ul li p{
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
    margin-left: 5px;
   
}
.urls{
    border:1px solid rgb(255, 255, 255,0.7);
    padding:5px 0px;

}

hr{
    border:none;
    height:1px;
    background-color: whitesmoke;
}


