<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShortlyX</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        body {
            background-color: rgb(42, 40, 40);
            color: whitesmoke;
            line-height: 2;
        }
       
    </style>
</head>

<body>
    <%- include('./auth/navbar')%>

        <div style="position: absolute;top:75px;padding: 20px;">
            <h1>EJS Template Engine</h1>
            <p>There are more template engines other than EJS, namely Pug and Handlebars.</p>
            <p>EJS is an Express tool which lets us create dynamic HTML pages.</p>

            <div>
                <%#= content1%>
            </div> <!-- addition of # comments that ejs element-->
            <div>
                <%#= content2%>
            </div>
            <div><%#- content2%></div>
            <div>
                <%#= names %>
            </div>

            <h1 style="margin-top: 30px;">Student Report Card</h1>
            <p><strong>Name:</strong>
                <%=student.name %>
            </p>
            <p><strong>Grade:</strong>
                <%=student.grade %>
            </p>
            <p><strong>Favourite Subject:</strong>
                <%=student.favSubj %>
            </p>
        </div>

</body>

</html>